<!-- comments.html -->
<article class="row container-fluid">
  <div class="col-lg-12">
  <h3>{{article.title}}</h3>
  <p>{{article.summary}}</p>
</div>
</article>
<section class="row container-fluid">
  <div class="col-lg-12">
  </div>
</section>

<section>
  <form name="commentForm" ng-submit="submit.addComment()">
    <div class="col-lg-12">
      <fieldset class="form-group" id="comment-container">
        <label for="commentForm">add a Comment or Note:</label>
        <textarea class="form-control" id="comment_body" name="comment" ng-model="app.submission.comments" placeholder="Add your commentary or notations regarding journalistic bias here..."></textarea>
      </fieldset>
    </div>
    <div class="row text-justified text-center">
      <input class="btn btn-primary btn-lg submit-button" type="submit" value="Submit your comment." />
    </div>
  </form><!--ENDform-->
</section><!--ENDcontainer-->

<!--
publisher: '',
parentArticle: '',
title: '',
commentText: '',
createdOn: '',
createdBy: ''
-->
