<!-- home.html -->
<section class="jumbotron">
  <h1>Daily-Bias News</h1>
  <p>Critically expose, juxtapose, and rate political bias by topic — contrasting the coverage of various journalistic sources across the political spectrum!</p>
  <form class="navbar-form navbar-left" role="search" ng-controller="SearchController as submitSearch">
    <div class="form-group">
      <a ui-sref="searchResults"><input type="text" id="searchbox" ng-model="searchText" ng-trim="true" ng-required="true" class="form-control input-large search-query" ng-submit="SearchController()" placeholder="input news-SEARCH keyword(s) here!"></a>
      <a ui-sref="searchResults"><input type="submit" id="submit" ng-submit="SearchController.submitSearch()" value="Submit" /></a>
    </div>
  </form>
</section>
