<!-- home.html -->
<div class="jumbotron">
  <h1>Spin-Zone News</h1>
  <p>Critically expose, juxtapose, and rate political bias by topic — contrasting the coverage of various journalistic sources across the political spectrum!</p>
  <form class="navbar-form navbar-left" role="search" ng-submit="submitSearch()">
    <div class="form-group">
      <input type="text" ng-model="search.keyword" class="form-control" placeholder="SEARCH">
    </div>
    <button ng-click="SearchController">

      <a class="btn" type="submit" id="search" ui-sref="results">
        <img src="/images/noun_150137_cc.png" width="30px" height="90%" alt="search" /></a>
    </button>
    <!--<button type="submit" class="btn btn-default">Submit</button>-->
  </form>
</div>
