<!-- /views/searchResults.html -->
<section>
  <!--<div id="results" /></div>-->
  <!--
  <script type="text/javascript" src="https://www.google.com/jsapi"></script>
  <script type="text/javascript">google.load("search", "1");</script>

  <div id="results"></div>
  <div id="branding"></div><br />
  <div id="content">Loading...</div>
-->
<div id="searchcontrol">Loading</div>
  <!-- searchResultsTEMPLATE -->
  <section ng-model="response">
    <div ng-repeat=" response in response.data">
      <h3><strong>{{responseData.results.title}}</strong></h3>
      <p>{{responseData.results.content}}</p>
      <p>{{responseData.results.publishedDate}}</p>
    </div>
  </section>
  <!-- END template -->

  <div>
    <h3>MSNBC</h3>
    <p>Obama ispsum</p>
  </div>
  <div>
    <h3>Fox</h3>
    <p>Romney ispsum</p>
  </div>
</section>
