<!-- searchResults.html -->
<main class="container-fluid" ng-controller="SearchResultsController as search">
  <section class="container-fluid" role="presentation" id="searchbox">
    <form class="navbar-form navbar-center" role="search" ng-submit="search.submitSearch()">
      <div class="form-group">
        <img src="/images/powered_by_google.png" width="100px" height="50px" alt="powered by Google news-search" border="0" />
        <input type="text" id="searchbar" ng-model="searchText" ng-trim="true" ng-required="true" class="form-control input-large search-query" placeholder="Would you like to perform a different search?">
        <input type="image" type="submit" id="submitSearch" src="/images/daily-bias.png" alt="Submit Form" value="Submit" />
      </div>
    </form>
  </section>
  <!-- RESULTS -->
  <div class="row">
    <section ng-repeat="searchResult in search.searchResults" id="results" class="container-fluid col-xs-12 col-sm-6 col-md-4 col-lg-3">
      <article class="list-group well article" id="article">
        <h4 class="list-group-item" id="articleTitle">
          <span class="badge Left_bias">{{42}}</span>
          <span>{{searchResult.titleNoFormatting}} — <strong>{{searchResult.publisher}}</strong></span>
          <span class="badge Right_bias">{{42}}</span>
        </h4>



        <a href="{{searchResult.unescapedUrl}}" class="list-group-item">
          <p class="articleAbstract">{{searchResult.content}}</p>
        </a>
      </article>
    </section>
  </div>
</main>
<!-- RATE-BIAS -->
<section class="row">
  <div class="input-group">
    <span class="input-group-addon">
      <input type="checkbox" aria-label="radical liberal bias">
    </span>
    <span class="input-group-addon">
      <input type="checkbox" aria-label="liberal bias">
    </span>
    <span class="input-group-addon">
      <input type="checkbox" aria-label="no bias rated, default state">
    </span>
    <span class="input-group-addon">
      <input type="checkbox" aria-label="conservative bias">
    </span>
    <span class="input-group-addon">
      <input type="checkbox" aria-label="Right-wing reactionary bias">
    </span>
    <!--<input type="text" class="form-control" aria-label="...">-->
  </div>
</section>
<section class="row">
  <div class="col-xs-4 col-md-4">
    <a ng-click="" class="thumbnail">
      <img src="/images/Yi_Chen_noun_26092_donkey.png" width="100px" height="100px" alt="liberal-bias">
    </a>
  </div>
  <div class="col-xs-4 col-md-4">
    <a ng-click="" class="thumbnail">
      <img src="/images/Lilit Kalachyan_noun_150137.png" width="100px" height="100px" alt="no-bias">
    </a>
  </div>
  <div class="col-xs-4 col-md-4">
    <a ng-click="" class="thumbnail">
      <img src="/images/Benjamin Harlow_noun_28997_elephant.png" width="100px" height="100px" alt="conservative-bias">
    </a>
  </div>
</section>
<!-- PAGINATION -->
<nav>
  <ul class="pager">
    <li><a href="#">Previous</a></li>
    <li><a href="#">Next</a></li>
  </ul>
</nav>
